*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;;
}

/* nav bar */
.navbar{
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgb(10, 10, 10), black);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.404);
    position: fixed;
    top: 0;
    z-index: 2000;
    left: 0;
}
.navbar ul{
    float: right;
    z-index: 10;
}
.navbar ul li{
    display: inline-block;
    line-height: 100px;
    list-style-type: none;
}
.navbar ul li a{
    color: aliceblue;
    text-decoration: none;
    margin: 0 50px;
    font-size: 18px;
    padding: 8px 15px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    letter-spacing: 1px;
    border-bottom: 1.5px solid transparent;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.navbar ul li a.active,
.navbar ul li a:hover{
    border-color: orange;
    color: orange;
}

img{
    width: 100px;
    height: 100px;
}
.logo{
    position: absolute;
    line-height: 100px;
    left: 115px;
    cursor: pointer;
    
}
.logo-text{
    position: absolute;
    color: orange;
    font-size: 30px;
    line-height: 100px;
    left: 165px;;
    cursor: pointer;
}
#check{
    display: none;
}
#checkbtn{
    color: orange;
    font-size: 30px;
    line-height: 100px;
    float: right;
    margin-right: 30px;
    display: none;
}
#check:checked ~ ul{
    left: 0;
}
/* content of web */

.first-section{
    width: 80%;
    margin: auto;
    margin-top: 170px;
    text-align: center;
}



.first-section .first-box h1{
    font-size: 72px;
    color: #fd2b05;
    font-weight: 600;
    font-style: normal;
    line-height: 82px;
    margin-bottom: 30px;
}

.row{
    display: flex;
}

.second-box-col{
    flex-basis: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.for-img{
    width: 99%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.for-img video{
    width: 694px;
    height: 527px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

.for-para{
    text-align: left;
    color: #666;
    line-height: 1.5;
    font-weight: 500;
    font-size: 24px;
}

.for-display{
    display: flex;
    flex-direction: column;
}
.for-display h3{
    font-size: 42px;
    color: #444444;
    display: flex;
    margin-bottom: 20px;
    margin-top: 101px;
}
.input-box{
    display: flex;
}
.input-box input[type="submit"]{
    background: linear-gradient(to top, #ff6348, #fd2b05);
    width: 36%;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    -o-border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    margin-top: 27px;
    margin-bottom: 0;
}
.input-box input[type="submit"]:hover{
    background: #fa2702;
    box-shadow: 0 0 1em rgba(51, 51, 51, 0.404);
}

/* navbar responsiveness */

@media(max-width: 1444px){
    .navbar ul li a{
        font-size: 14px;
        margin: 0 35px;
    }
}


@media(max-width: 1186px){
    .navbar ul li a{
        font-size: 14px;
        margin: 0 25px;
    }
    .content{
        font-size: 33px;
    }
    .first-section .para p{
        font-size: 15px;
    }
}

@media(max-width: 1080px){
    .navbar ul li a{
        font-size: 12px;
    }
}
@media(max-width: 1048px){
    .navbar ul li a{
        font-size: 12px;
    }
    .logo{
        left: 50px;
    }
    .logo-text{
        left: 102px;
    }
}

@media(max-width: 958px){
    .navbar ul li a{
        margin: 0 15px;
    }
    .content{
        font-size: 30px;
    }
    .offer-col img{
        height: 230px;
        width: 100%;
    }
    .offer-col p{
        font-size: 12px;
    }
    .offer-col h3{
        font-size: 16px;
    }
}


@media(max-width: 870px){
    .navbar ul li a{
        margin: 0 8px;
    }
}
@media(max-width: 790px){
    .navbar ul li a{
        margin: 0 4px;
    }
    .offer-col img{
        width: 100%;
        height: 190px;
    }
}
@media(max-width: 755px){
    .navbar ul{
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color: rgb(41, 40, 40);
        top: 100px;
        left: -110%;
        -o-transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        transition: 0.5s;
}
    .navbar ul li{
        display: block;
        text-align: center;
        margin-right: 27px;
    }
    .navbar ul li a{
        width: 100%;
        display: block;
        font-size: 15px;
        -o-transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -webkit-transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -moz-transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -ms-transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -o-border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        border-radius: 0px;
}
    #checkbtn{
        display: block;
    }
    .content{
        font-size: 25px;
    }

}

@media(max-width: 323px){
    #checkbtn{
        margin-right: 18px;
    }
    
}
@media(max-width: 309px){
    .logo{
        left: 17px;   
    }
    .logo-text{
        left: 69px;
    }
}
/* ************* */




@media(max-width: 1654px){
    .for-img video{
        width: 634px;
    }
    
}
@media(max-width: 1394px){
    .first-section{
        width: 90%;
    }
    .for-img video{
        height: 542px;
    }

}


@media(max-width: 1204px){
    .for-img video{
        width: 555px;
    }
    .row{
        flex-direction: column;
    }
}
@media(max-width: 660px){
    .first-section .first-box h1{
        font-size: 55px;
    }
    .for-display h3{
        font-size: 30px;
    }
    .for-para{
        font-size: 18px;
    }
    .for-display h3{
        margin-top: 34px;
    }
}




